@import './variables.scss';
@import './fonts.scss';

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  margin: auto;
  max-width: 1400px;
  font-family: 'Montserrat-Light';
}

.button {
  background-color: $base_green;
  padding: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: $green;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 4;
}

.sticky + .content {
  padding-top: 102px;
}

.hide {
    opacity: 1;
    animation-name: a1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    display: none;
  }
  
.header {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  max-width: 1400px;
  width: calc(100vw - 100px);

  &__nav {
    &__list {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
    }

    &__item {
      margin: auto;
      margin: 10% 0;
    }

    &__link {
      color: $black;
      text-decoration: none;
      padding: 20px;
      text-transform: uppercase;
    }
    &__link:hover {
      border-bottom: 1px solid var(--color_green);
    }
  }
}

.cart__btn {
  display: flex;
  justify-content: space-around;
  background-color: $base_green;
  padding: 20px;
  cursor: pointer;
  border: none;
  margin: 1%;
  border-radius: 20px;
  width: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  &-price {
    margin: auto;
  }
  .rouble {
    margin: auto;
  }
}

.cart {
  background-color: $white;
  width: calc(100vw - 50px);
  position: fixed;
  z-index: 1;
  height: 100%;
  margin: auto;
  overflow-y: scroll; /* прокрутка корзины по вертикали */
  padding: 20px;
  &-body {
    padding-top: 20px;
    width: calc(100vw - 100px);
    max-width: 1440px;
  }
  &-wrapper {
    text-align: center;
  }
  &-item {
    text-align: center;
    &__top {
      display: flex;
    }
    &__desc {
      margin: auto;
    }
    &__img {
      width: 200px;
      height: auto;
      margin: auto;
      border-radius: 20px;
    }
  }
}

.banner__img {
  width: 100%;
}

.aboutUs {
  &__title {
    margin-top: 5%;
    margin-bottom: 5%;
    text-transform: uppercase;
    font-weight: 200;
  }
  &__content {
    padding: 10px;
    color: $dark_green;
    background-color: $base_green;
    border-left: 4px solid $dark_green;
  }
}

.advantages {
  &__title {
    margin-top: 5%;
    margin-bottom: 5%;
    text-transform: uppercase;
    font-weight: 200;
  }
  &__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10%;
    margin: auto;
    text-align: center;
  }
  &__item {
    .item--img {
      height: auto;
      width: 100%;
      border-radius: 40px;
    }
    .item__title {
      text-transform: uppercase;
      font-weight: 200;
    }
  }
}

.catalog {
  &__title {
    text-transform: uppercase;
    font-weight: 200;
  }
  .products__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  .product-img {
    width: 300px;
    border-radius: 30px;
  }
  .price__currency {
    font-weight: bold;
    margin: 20px;
  }

  .text-center {
    text-align: center;
  }
  .counter-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .items__control {
    padding: 20px;
    border-top: 1px solid var(--color_green);
    border-bottom: 1px solid var(--color_green);
    cursor: pointer;
  }
  .items__current {
    padding: 20px;
    border-top: 1px solid var(--color_green);
    border-bottom: 1px solid var(--color_green);
  }
  &__items {
    margin: auto;
    .card {
      padding: 20px;
      margin: auto;
    }
  }
  &__btn {
    background-color: $base_green;
    padding: 20px;
    cursor: pointer;
    border: none;
    margin: 1%;
    border-radius: 20px;
    width: 150px;
  }
}

.contacts__address {
  .address-title {
    text-transform: uppercase;
    font-weight: 200;
  }
  .address-content {
    display: flex;
  }
  .address {
    line-height: 50px;
  }
  .map {
    width: 100%;
  }
}

.contacts__content {
  &-title {
    text-transform: uppercase;
    font-weight: 200;
  }
  .contacts {
    display: flex;
    justify-content: space-around;
    background-color: $base_green;
    border-right: 4px solid $dark_green;
    color: $dark_green;
    &-mail a,
    &-phone a {
      text-decoration: none;
      color: $dark_green;
    }
  }
  .contacts-timetable-list {
    list-style-type: none;
  }
}

.qa {
  .acor__title {
    text-transform: uppercase;
    margin: 50px auto 50px auto;
  }
  .acor-container {
    margin: 20px 0;
  }

  .acor-container .acor-body {
    margin: 0 auto;
    height: 0;
    color: $black;
    line-height: 18px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-size: 16px;
  }

  .acor-container .acor-body p {
    margin: 0 0 10px;
  }

  .acor-container label {
    cursor: pointer;
    display: block;
    padding: 15px 20px;
    width: 100%;
    font-weight: 300;
    box-sizing: border-box;
    z-index: 100;
    font-size: 18px;
    margin: 0 0 5px;
    transition: color 0.35s;
    line-height: 30px;
  }
  .acor-container label::after {
    padding-top: 20px;
    display: flex;
    width: 70%;
    position: relative;
    content: '';
    border-bottom: 3px solid $green;
    top: 50%;
  }
  .acor-container label:hover {
    color: $black;
  }
  .acor-container input {
    display: none;
  }
  .acor-container label:before {
    content: '\276F';
    float: right;
  }
  .acor-container input:checked + label {
    color: $black;
  }
  .acor-container input:checked + label:before {
    transition: transform 0.35s;
    transform: rotate(90deg);
  }

  .acor-container input:checked + label + .acor-body {
    height: auto;
    margin-top: -5px;
    color: $black;
    padding: 20px 30px 10px;
  }
}

.copyright {
  text-align: center;
  background-color: $base_green;
  padding: 20px;
  .dev-by {
    &__link {
      text-transform: uppercase;
      color: $black;
      text-decoration: none;
    }
  }
}